####################################
# Python
####################################
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

####################################
# Model Artifacts
####################################
*.pkl
*.joblib
model/
artifacts/
*.h5
*.onnx

####################################
# Logs
####################################
logs/
*.log

####################################
# Environment Variables
####################################
.env
.env.*
*.env

####################################
# VS Code
####################################
.vscode/
*.code-workspace

####################################
# Terraform
####################################
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Ignore plan files
*tfplan
*.tfplan

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files
*.pem
*.key

####################################
# AWS Credentials
####################################
.aws/
credentials
config

####################################
# Docker
####################################
docker-compose.override.yml
*.tar

####################################
# Kubernetes
####################################
kubeconfig
*.secret.yaml

####################################
# OS Files
####################################
.DS_Store
Thumbs.db

####################################
# Build / Distribution
####################################
build/
dist/
*.egg-info/